<div class="blog-list">
<h2>Blogs</h2>

<!--Get all the blogs from the database-->
<!--Able to delete any blog-->
<div class="blogs">
        {{#each blogs}}
<H3><a href="/blog/{{this._id}}">{{this.title}}</a></h3>
<form action="/delete" method="POST">
<input type="hidden" name="_id" value="{{this._id}}">
<input type="submit" name="delete" value="Delete">
</form>
        {{else}}
<p>No blogs in the database</p>
        {{/each}}
</div>

</div>

<!--Get to the home page-->
<a href="/secret">Home</a>