<H3>Update Profile</H3>
<!--Update the profile of the user-->
<form class="Profile" action="/saveSecrets" method="POST">
    Name: <input type="text" name="name">  <br>
    Education: <textarea name="education" value="Type message..." style="height: 100px; width: 200px;" onclick="this.value=''">Enter text here...</textarea><br>
    Job: <textarea name="job" value="Type message..." style="height: 150px; width: 200px;" onclick="this.value=''">Enter text here...</textarea><br>
    <input type="submit" name="updateSecrets" value="Update Secrets">
</form>
